<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bugucloud.core.mapper.UserMessageMapper">

    <!-- 批量插入消息通知 -->
    <insert id="batchInsertMessages">
        INSERT INTO t_user_message (
        id,
        to_user_id,
        from_user_id,
        from_nickname,
        from_avatar,
        msg_type,
        article_id,
        comment_id,
        content,
        is_read,
        email_notify,
        create_time,
        update_time
        ) VALUES
        <foreach collection="messages" item="message" separator=",">
            (
            #{message.id},
            #{message.toUserId},
            #{message.fromUserId},
            #{message.fromNickname},
            #{message.fromAvatar},
            #{message.msgType},
            #{message.articleId},
            #{message.commentId},
            #{message.content},
            #{message.isRead},
            #{message.emailNotify},
            NOW(),
            NOW()
            )
        </foreach>
    </insert>
</mapper>